__pycache__/
*.py[cod]
*.so
.venv/
venv/
ENV/
.pythonlibs/
build/
dist/
wheels/
*.egg-info/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem
*.key
*.zip
zipFile.zip
pip-wheel-metadata/
Thumbs.db


